.applicant {
    margin: 5px;
    background-color: rgb(192, 219, 229);
    display: grid;
    grid-template-columns: 20em 20em auto;
    width: fit-content;
    word-break: break-word;
}

.editingApplicant {
    background-color: rgb(205, 192, 229);
}

.applicant > div {
    margin: 3px;
    display: flex;
    flex-direction: column;
}
